.title {
  font-size: 64px;
  text-align: center;
}

.sub-title {
  font-size: 44px;
  text-decoration: none;
  color: black;

  margin-bottom: 40px;
}

body.dark-mode .sub-title {
  color: rgb(220, 220, 220);
}

#project-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-intro {
  width: 680px;
}

#projects-wrapper {
  overflow: hidden !important;

  margin: 80px 0px 200px 0px;

  width: 100%;
}

.peraflash-container,
.temp-container,
.pera-title,
.pera-text {
  opacity: 0;

  margin-right: 80px;
}

.project-about {
  width: 680px;
}

.project-container {
  display: flex;
  flex-direction: column;

  margin: 0px 0px 200px 0px;
}

.right-project {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  margin-left: 80px;
}

.screenshot-container {
  display: flex;
  height: 100%;

  gap: 32px;
}

.screenshot {
  height: 520px;
  width: 960px;

  border-radius: 12px;
}

.mood-text {
  width: 640px;
}

.moodwalk-screenshot {
  height: 640px;
  width: 320px;

  border-radius: 12px;
}
