.title {
  font-size: 64px;
  text-align: center;
}

.sub-title {
  font-size: 44px;
  text-decoration: none;
  color: black;

  margin-bottom: 40px;
}

body.dark-mode .sub-title {
  color: rgb(220, 220, 220);
}

#projects-wrapper {
  overflow: hidden !important;

  margin: 80px 0px 200px 0px;

  width: 100%;
}

.peraflash-container,
.temp-container {
  opacity: 0;
}

.project-container {
  display: flex;
  flex-direction: column;

  margin: 0px 0px 200px 0px;
}

.left-project {
  margin-right: 80px;
}

.right-project {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  margin-left: 80px;
}

.screenshot-container {
  display: flex;
  height: 100%;

  gap: 32px;
}

.screenshot {
  height: 640px;
  width: 1080px;

  border-radius: 12px;
}

.moodwalk-screenshot {
  height: 640px;
  width: 320px;

  border-radius: 12px;
}
